 * {
     margin: 0;
     padding: 0;
 }

 header {
     background-color: #941c90;
     text-align: center;
     padding: 40px 0px;
     margin: 5px;
     font-size: 45px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: white;
 }

 section {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
 }

 .msg {
     padding: 10px;
     background-color: rgb(199, 195, 195);
     margin: 3px 30px;
     max-width: 42%;
 }

 .left {
     align-self: flex-start;
 }

 .right {
     align-self: flex-end;
 }

 .center {
     align-self: center;
 }

 #search {
     width: 100vw;
     height: 40px;
     display: block;
     position: fixed;
     left: 0;
     bottom: 5px;
 }

 input {
     height: inherit;
     text-align: center;
     width: 90%;
     display: inline-block;
     border-radius: 20px;
     border: 2px solid black;
     font-size: 18px;
     outline: none;
 }

 input[type="submit"] {
     height: inherit;
     width: 8%;
     display: inline-block;
     border: 2px solid black;
     border-radius: 10px;
     outline: none;
 }